/.vagrant
/software
/modules/concat
/modules/connect
/modules/easy_type
/modules/stdlib
/modules/swap_file
/modules/timezone
.byebug_history
/.librarian
/.tmp
.DS_Store
/modules/archive
/modules/dirtree
/modules/iib_install
/modules/iib_iconfig
/modules/iib_config
/modules/debconf
/modules/software/files
/modules/sysctl
/modules/limits

# Unignore
!modules/software/.gitkeep
/modules/augeasproviders_sysctl
/modules/augeasproviders_core
